In [1]:
import pandas as pd
import numpy as np

Создадим рандомные данные, чтобы модель просто была

In [32]:
features = np.random.randint(0, 12, (100, 7))

In [33]:
df = pd.DataFrame(features)
df.columns = ['latitude_depart', 'longitude_depart', 'latitude_arrive', 'longitude_arrive', 'day', 'month', 'time_duration']

In [34]:
df.head()

,latitude_depart,longitude_depart,latitude_arrive,longitude_arrive,day,month,time_duration
0,5,1,4,5,7,10,5
1,0,8,4,5,1,9,3
2,6,2,1,4,1,3,2
3,0,7,5,7,1,4,1
4,5,6,0,3,10,4,5

In [35]:
X_real = ['latitude_depart', 'longitude_depart', 'latitude_arrive', 'longitude_arrive']
X_cat = ['day', 'month']

Нормализуем координаты и закодируем дни и месяцы

In [36]:
import joblib #для сохранения моделей
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [37]:
scaler = StandardScaler()
# ВАЖНО: сначала обучаем, потом сохраняем
scaler.fit(df[X_real])
joblib.dump(scaler, 'scaler.joblib')

['scaler.joblib']

In [38]:
encoder = OneHotEncoder()
# ВАЖНО: сначала обучаем, потом сохраняем
encoder.fit(df[X_cat])
joblib.dump(encoder, 'encoder.joblib')

['encoder.joblib']

In [42]:
X_real_scaled = scaler.transform(df[X_real])
X_cat_encoded = encoder.transform(df[X_cat]).toarray()

In [47]:
data_train = np.hstack((X_real_scaled, X_cat_encoded))
target = df['time_duration']

Обучим и сохраним

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
model = RandomForestClassifier()
model.fit(data_train, target)

RandomForestClassifier()

In [51]:
joblib.dump(model, 'model.joblib')

['model.joblib']